/* index and blogs.html styling */

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
}

header h1 {
  font-size: 46px;
}

h1,
h2,
h3 {
  color: #000;
}

section {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

a:hover {
  opacity: 85%;
  transition: all ease-in-out;
}

form {
  margin-top: 20px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.add-blog-btn {
  padding: 10px 15px;
  background-color: #000;
  color: white;
  border: 30%;
  cursor: pointer;
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icons {
  margin-top: 20px;
  display: flex;
  gap: 13px;
}
/* featured blog styling */
.featured-blog {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: between;
  margin-left: 10%;
  margin-top: 7%;
}

.blog-details {
  h1 {
    margin-bottom: 7px;
  }

  .blog-description {
    width: 600px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  }

  span {
    color: #333;
    font-size: small;
  }
}

/* homepage */
.blog-list {
  /* padding-top: 20px; */
  text-align: left;
  margin-top: 8%;
  margin-bottom: 30px;
}
.blog-list-header {
  display: flex;
  justify-content: space-between;
}
.blog-list-header h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 60px;
  width: auto;
}
.blog-list-header .more-blogs-btn {
  background-color: #000;
  padding: 7px 10px;
  border-radius: 5%;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 125px;
}

.blog-list-header .more-blogs-btn a {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

.blog-list-header .more-blogs-btn a::after {
  content: "→";
  margin-left: 10px;
}
.blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 20px; */
}
.blog-item {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  max-width: calc(33.333% - 40px);
}
.blog-item h3 {
  font-size: 18px;
  margin-top: 10px;
}
.blog-item p {
  font-size: 14px;
  width: 400px;
}

/* all blogs page */
.all-blogs-list {
  /* padding-top: 20px; */
  text-align: left;
  margin-top: 7%;
  margin-bottom: 30px;
  padding: 0 7%;
}
.all-blogs-list h2 {
  display: flex;
  justify-content: start;
  align-items: left;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.all-blogs-list h2::before {
  content: "←";
  margin-right: 10px;
}

.all-blog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin-left: 20px;
}
.all-blog-item {
  display: flex;
}

.all-blog-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* gap: 25px; Adds spacing between items */
}

.all-blog-details h1 {
  font-size: 2rem; /* 38px, scalable */
  font-weight: bold;
  margin-top: 10px;
}

.all-blog-details span {
  color: #333;
  font-size: 0.775rem; /* 14px, scalable */
  margin-top: -20px;
}

.all-blog-details .all-blog-description {
  width: 450px;
}
